#popShow {
    animation: autoShow;
    animation-timeline: view(90% auto);
}
@keyframes autoShow {
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
#fadeIn{
    animation: fade;
    animation-timeline: view(80% auto);
}
@keyframes fade {
    from{
        opacity: 0;
        transform: scale(0.3);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}
#fadeUp{
    animation: fade both;
    animation-timeline: view(40% 30%);
}
@keyframes fade {
    from{
        opacity: 0;
        transform: scale(0.2);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}
